- name: Enable docs installation by default
  block:
  - name: Check dnf.conf exists
    stat:
      path: /etc/dnf/dnf.conf
    register: dnf_stat_result

  - name: Patch dnf.conf
    replace:
      path: /etc/dnf/dnf.conf
      regexp: 'nodocs'
      replace: ''
    when: dnf_stat_result.stat.exists

- name: Select packageset
  set_fact:
    extended_packageset: "{{ extended_packageset | default('no') }}"

- name: Install packages for ground base image
  block:
  - name: Install dnf plugins
    dnf:
      state: present
      name:
      - dnf-plugins-core

  - name: Install @sssd/ci-deps repositories
    shell: |
      if grep -qE "CentOS Stream release 10|Red Hat Enterprise Linux release 10" /etc/redhat-release
      then
        # 'dnf copr' defaults to 'epel' on centos-stream and rhel-10 but there is no epel-10
        dnf copr enable -y @sssd/ci-deps centos-stream-10-$basearch
      else
        dnf copr enable -y @sssd/ci-deps
      fi

  # Legacy repo containing the virtualsmartcard, virt_cacard, vpcd that was replaced by ci-deps
  # Keeping it here in case we need to return to it for some reason.
  #- name: Install virt_smartcard copr repositories
  #  command: dnf copr enable -y jjelen/vsmartcard
  #  args:
  #    creates: /etc/yum.repos.d/_copr:copr.fedorainfracloud.org:jjelen:vsmartcard.repo
  #  when: virt_smartcard

  # 'systemd' requires '--allowerasing' on F42+ - see RHBZ 2344333
  - name: Install systemd
    dnf:
      state: present
      allowerasing: true
      name:
      - systemd
      disable_gpg_check: yes

  - name: Install minimal set of packages
    dnf:
      state: present
      name:
      - authselect
      - bind-utils
      - expect
      - firewalld
      - iproute
      - iproute-tc
      - net-tools
      - openldap-clients
      - openssh-clients
      - openssh-server
      - policycoreutils
      - policycoreutils-python-utils
      - python3-pip
      - shadow-utils-subid
      - sudo
      - rsync
      disable_gpg_check: yes
  when: "'base_ground' in group_names"

- name: Install extended set of packages
  block:
  - name: Add gh-cli.repo repo
    ansible.builtin.get_url:
      url: https://cli.github.com/packages/rpm/gh-cli.repo
      dest: /etc/yum.repos.d/gh-cli.repo
      mode: '0644'

  - name: Install additional packages
    dnf:
      state: present
      name:
      - bash-completion
      - dbus-tools
      - e2fsprogs
      - findutils
      - gdb
      - gdb-gdbserver
      - iputils
      - ldb-tools
      - man
      - tcpdump
      - wget
      - which
      - wireshark-cli
      - gh
      - git
      - mc
      - tig
      - tmate
      - tmux
      - vim
      disable_gpg_check: yes
  when:
  - "'base_ground' in group_names"
  - extended_packageset

- name: Install packages for client base image
  block:
  - name: Install ipa client
    dnf:
      state: present
      name: '{{ ipa.client }}'

  - name: Install SSSD and its dependencies
    dnf:
      state: present
      name:
      - nfs-utils
      - realmd
      - oddjob
      - oddjob-mkhomedir
      - adcli
      - sssd
      - 'sssd-*'
      disablerepo: 'beaker-tasks'
    register: pkg_install

  - name: Check installed packages
    ansible.builtin.package_facts:

  - name: Check if beaker-tasks yum repo exists
    shell: yum repolist | grep beaker-tasks
    ignore_errors: true
    register: beaker_tasks

  - name: Set fact for beaker_tasks repo to be disabled if necessary
    set_fact:
      yumopt: "{% if beaker_tasks.rc == 0 %}--disablerepo=beaker-tasks{% else %}{% endif %}"

  # ansible dnf5 seems to have a regression with wildcard *
  # https://github.com/ansible/ansible/issues/83373
  - name: Install sssd subpackages
    command: "yum install -y 'sssd-*' {{ yumopt }}"
    register: sssd_install
    when: "'sssd-ad' not in ansible_facts.packages or 'sssd-kcm' not in ansible_facts.packages"

  - name: Show installed sssd packages
    ansible.builtin.debug:
      var: pkg_install

  - name: Install debug information for selected packages
    dnf:
      enablerepo: '*-debug*'
      name: '{{ item }}-debuginfo'
      state: present
    with_items:
      - dbus
      - glibc
      - libcmocka
      - libdhash
      - libini_config
      - libldb
      - libtalloc
      - libtevent
    ignore_errors: yes
    when: debuginfo

  - name: Install test dependencies on client
    dnf:
      state: present
      name:
      - autofs
      - augeas
      - krb5-workstation
      - ldb-tools
      - net-tools
      - nss-pam-ldapd
      - tcpdump
      - wireshark-cli
      - binutils
      disable_gpg_check: yes

  - name: Install packages for virtual smartcard from general repos
    dnf:
      state: present
      name:
        - opensc
        - openssl
        - gnutls-utils
        - softhsm
        - nss-tools
        - selinux-policy-devel
        - selinux-policy-targeted
        - make
    when: virt_smartcard

  - name: Install virtual smartcard packages from copr
    dnf:
      state: present
      name:
        - virtualsmartcard
        - virt_cacard
        - vpcd
      disable_gpg_check: yes
    when: virt_smartcard
  when: "'base_client' in group_names or 'client' in group_names"

- name: Install packages for LDAP base image
  block:
  - name: Install 389ds
    dnf:
      state: present
      name:
      - acl
      - 389-ds-base
  when: "'base_ldap' in group_names or 'ldap' in group_names or 'ipa' in group_names"

- name: Install packages for IPA base image
  block:
  - name: Install IPA
    dnf:
      state: present
      name: '{{ ipa.server }}'

  - name: Install sssd-kcm
    dnf:
      state: present
      name: sssd-kcm
  when: "'base_ipa' in group_names or 'ipa' in group_names"

- name: Install packages for Samba base image
  block:
  - name: Install Samba DC
    dnf:
      state: present
      name:
      - samba-dc
      - samba-winbind-clients
  when: "'base_samba' in group_names or 'samba' in group_names"

- name: Install packages for NFS base image
  block:
  - name: Install NFS
    dnf:
      state: present
      name:
      - nfs-utils
  when: "'base_nfs' in group_names or 'nfs' in group_names"

- name: Install packages for KDC base image
  block:
  - name: Install KDC
    dnf:
      state: present
      name:
      - krb5-libs
      - krb5-server
      - krb5-workstation
  when: "'base_kdc' in group_names or 'kdc' in group_names"

- name: Install packages that are shared with IPA and client base images
  block:
  - name: Install packages required for passkey testing
    dnf:
      state: present
      name:
      - acl
      - ci-sssd-test-deps
      - umockdev
      - openssl-devel
      - go
      - nmap-ncat
      - git
    when: passkey_support
  when: "'base_client' in group_names or 'client' in group_names or 'base_ipa' in group_names or 'ipa' in group_names"

- name: Install packages for Keycloak base image
  block:
  - name: Install Keycloak dependencies
    dnf:
      state: present
      allowerasing: true
      name:
      - java-21-openjdk-headless
      - openssl
      - unzip
      - curl
      - jq
  when: "'base_keycloak' in group_names"

- name: Install additional packages for client development image
  block:
  - name: Install SSSD build dependencies
    command: dnf builddep -y sssd

  - name: Install packages required for integration tests
    dnf:
      state: present
      name:
      - clang-analyzer
      - curl-devel
      - dbus-daemon
      - fakeroot
      - krb5-server
      - krb5-workstation
      - libcmocka-devel
      - libfaketime
      - nss_wrapper
      - openldap-clients
      - openldap-servers
      - pam_wrapper
      - python3-ldap
      - python3-ldb
      - python3-psutil
      - python3-pycodestyle
      - python3-pytest
      - python3-requests
      - rpm-build
      - uid_wrapper
      - valgrind

  - name: Install additional python packages
    pip:
      name:
      - flaky
  when: "'client_devel' in group_names or 'ipa_devel' in group_names"

- name: Install packages needed for IdP testing with selenium
  block:
  - name: Install packages required for running selenium
    dnf:
      state: present
      name:
      - python3-virtualenv
      - bzip2
    when: selenium_support
  when: "'base_client' in group_names or 'client' in group_names"

- name: Install packages for testing GDM
  block:
  - name: Install packages for GDM and SCAutolib from general repos
    dnf:
      state: present
      name:
        - gcc
        - gcc-c++
        - gdm
        - tesseract
        - ffmpeg-free
        - bzip2
        - dbus-glib
        - python3-devel
    when: gdm_support
  when: "'base_client' in group_names or 'client' in group_names"
